body {
    margin: 0;
}
#header {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

#body {
    background-color: antiquewhite;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    font-family:sans-serif;
}